{% extends 'base.html' %}
{% block content %}

    <h2>Yfirlit Körfu</h2>
    <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nafn</th>
      <th scope="col">Verð</th>
      <th scope="col">Magn</th>
      <th scope="col">Samtals</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
        {% for product_item in object.products %}
      <td>{{ product_item.object.name }}</td>
      <td>{{ product_item.object.price }}</td>
      <td>?</td>
      <td>???</td>
        {% endfor %}
    </tr>
  </tbody>
</table>

    <h3>Karfa</h3>
    <div class="customerinfo">
        <div class="input_type">
            <input type="text" name="fullname" id="fullname" placeholder="Nafn">
            <label for="fullname" class="required">Nafn</label>
        </div>
        <div class="input_type">
            <input type="text" name="streetname" id="streetname" placeholder="Heimilisfang">
            <label for="streetname" class="required">Heimilisfang</label>
        </div>
        <div class="input_type">
            <input type="text" name="city" id="city" placeholder="Staður">
            <label for="city" class="required">Staður</label>
        </div>
        <div class="input_type">
            <input type="number" name="postcode" id="postcode" placeholder="Póstnúmer">
            <label for="postcode" class="required">Póstnúmer</label>
        </div>
    </div>

{% endblock %}