<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="well console" style="border-color: black;">
    <hr />
  <div class="row" style="text-align: center;">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'frontpage-index' %}">
              <img alt="Captain Console" src="https://i.ibb.co/G7M98Tz/CC.png" style="width: 15px !important; height: 25px !important;"/>
          </a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Um okkur</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="mailto:captainconsole@gmail.com">Hafa Samband</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="{% url 'leita-index' %}"><img src="https://www.freeiconspng.com/uploads/search-icon-png-21.png" style="height: 20px; width: 20px;"></img></li>
            </a>
        </ul>
      </div>
    </div>
  </div>
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <a href="/"></a>
                <li><a href="#">© 2020 Captain Console</a></li>
                <a href="#"></a>
            </ul>
        </div>
    </div>
</div>