 <nav class="navbar navbar-default">
        <div class="console">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="console" href="#">
              <img alt="Captain Console" src="https://i.imgur.com/64LAFP5.png" style="width: 30px !important; height: 50px !important;"/>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'console-index' %}">Vörulisti <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'manufacturer-index' %}">Framleiðendur</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
          </ul>
            {% if user.is_authenticated %}
                <img src="{{ user.profile.profile_image }}" class="profile-image" />
            {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
        </div> <!-- /.console -->
    </nav>