{% extends 'base.html' %}
{% block content %}

    <h3 class="red">Products</h3>
    <div class="input-group">
        <input type="search" class="form-control" id="search-box" placeholder="Enter your search here.."/>
        <div class="input-group-btn">
            <button type="button" id="search-btn" class="btn btn-default">Leita</button>
        </div>
    </div>

    <button type="button" id="sort-btn" class="collection-filter__toolbar-controls__button">Sort by:</button>
        <select id="sort-select" class="collection-filter__sort-select-filter" name="Sort_By">
            <option value="name">Name</option>
            <option value="price">Price</option>
        </select>


        <div class = "consoles">
            {% for console in consoles %}
        {% include 'console/single_console.html' with console=console %}
    {% endfor %}
        </div>
{% endblock %}