* {
    box-sizing: border-box;
    font-family: 'AppleGothic';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
    font-weight: bold;
}


.navbar {
    position: relative;
    overflow: hidden;
}

.navbar-brand {
    position: relative;
}
#navbar-animation {
    position: absolute;
    top: -1000px;
    bottom: -1000px;
    right: 0;
    left: 0;
    background-image: linear-gradient(to right, blue, yellow, green, red);
    animation: animate-navbar 3s linear infinite alternate;
}

a {
    color: #F6E8EA !important;
}

a:hover {
}

@keyframes line-under {
    0% {
        background-size: 0px 3px;
    }
    100% {
        background-size: 100% 3px;
    }
}

@keyframes animate-navbar {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotateZ(180deg);
    }
}

@keyframes circle-around {
    0% {
        background-size: 0 3px, 3px 0, 0 3px, 3px 0;
    }
    25% {
        background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
    }
    50% {
        background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
    }
    75% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
    }
    100% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    }
}

.consoles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.console a {
    font-family: AppleGothic;
    color: black !important;
    text-decoration: none;
}

.manufacturer a {
    color: black !important;
    text-decoration: none;
}

.consoles .console{
    border-radius: 2px;
    margin: 2px;
    background-image: none;
    text-align: center;
}

.consoles .console:hover {
    background-image: linear-gradient(lightskyblue, greenyellow), linear-gradient(blueviolet, red);
    background-repeat: no-repeat;
    background-position: left top, right top, right bottom;
    background-size: 0 3px, 3px 0, 0 3px, 3px 0;
    animation: circle-around 0.1s ease-in both;
    cursor: pointer;
}

.consoles .console:hover .console-img {
    transform: perspective(400px) scale(1.1) rotateY(15deg);
}

.console-img {
    width: 220px;
    height: 300px;
    transition: transform 1s ease-in;
}

.manufacturers {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.manufacturer {
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 0;
    margin: 0;
}

.manufacturer .manufacturer-img {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.block {
    display: block;
}

.profile-image {
    position: relative;
    width: 50px;
    height: 50px;
    float: right;
    border-radius: 50%;
}

.console {
    background-color: lightgrey;
    border: solid 0.1px rgba(155, 155, 155, .5);
    border-color: black;
;
}

.testing {
    position: absolute;
    top: -1000px;
    bottom: -1000px;
    right: 0;
    left: 0;
    background-image: linear-gradient(to right, lightgrey, gray, lightpink, lightsalmon);
    animation: animate-navbar 3s linear infinite alternate;
}